.dictionary {
  &__head {
    display: flex;
    width: 327px;
    // height: 69px;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 32px;
    @include lg {
      width: 689px;
      margin-top: 41px;
      margin-bottom: 39px;
    }
    @include xl {
      width: 737px;
      margin-top: 45px;
      margin-bottom: 40px;
    }
  }
  &__word-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: auto;
  }
  &__word {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    @include lg {
      font-size: 64px;
    }
  }
  &__phonetics {
    margin: 0;
    margin-top: 7px;
    color: $purple;
    @include lg {
      font-size: 24px;
    }
  }
  &__play {
    width: 48px;
    height: 48px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    cursor: initial;
    @include lg {
      width: 75px;
      height: 75px;
    }
  }
  &__partOfSpeech-element {
    @include partOfSpeech;
  }
  &__partOfSpeech {
    @include elementOfSpeech;
  }
  &__line {
    height: 1px;
    width: 100%;
    background-color: $lightergray;
  }
  &__parentElement {
    width: 100%;
    height: auto;
  }

  &__meaning {
    color: $lightgray;
    font-size: 16px;
    margin-bottom: 17px;
    @include lg {
      font-size: 20px;
      margin-bottom: 24px;
    }
  }
  &__list {
    list-style: none;
  }
  &__definition {
    margin-bottom: 13px;
    @include lg {
      font-size: 18px;
    }
    &::before {
      content: "\2022";
      color: $purple;
      font-weight: bold;
      display: inline-block;
      width: 35px;
      margin-left: -40px;
    }
  }
  &__synonyms-antonyms {
    font-size: 16px;
    color: $purple;
    font-weight: 700;
    @include lg {
      font-size: 20px;
    }
  }
  &__synonyms-antonyms-title {
    color: $lightgray;
    font-size: 16px;
    margin-top: 10px;
    @include lg {
      font-size: 20px;
    }
  }
  &__example {
    font-size: 15px;
    color: $lightgray;
    margin-top: 13px;
    padding-left: 35px;
    margin-bottom: 32px;
    @include lg {
      font-size: 18px;
    }
  }
  &__source {
    color: $lightgray;
    text-decoration: underline;
    font-size: 14px;
    margin-right: 10px;
  }
  &__source-img {
    cursor: pointer;
  }
  &__link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    @include lg {
      justify-content: flex-start;
    }
  }
  &__link {
    color: $black;
    font-size: 14px;
  }
  &__error {
    color: $orange;
    margin: 0;
    margin-left: 10px;
    font-size: 13px;
    position: absolute;
    top: 72px;
    left: 0px;
    @include lg {
        top: 92px;
    }
  }
  &__errorImg {
    width: 300px;
    height: 300px;
    @include lg {
      width: 500px;
      height: 500px;
      transform: translateX(-90px);
    }
  }
  &__img-wrapper {
    height: 300px;
    @include lg {
      height: 500px;
    }
  }
  .source-wrapper {
    display: flex;
    align-items: center;
    margin-top: 21px;
    transition: 0.3s linear;
  }
}
