@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices - tablets
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin toggle {
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 43px;
    height: 24px;
    background: $lightgray;
    display: block;
    border-radius: 100px;
    position: relative;
    transition: 0.1s;
    &:after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      width: 14px;
      height: 14px;
      background: #fff;
      border-radius: 14px;
      transition: 0.3s;
    }
    &:active {
      &:after {
        width: 25px;
      }
    }
  }
  input {
    &:checked {
      + {
        label {
            transition: 0.5s;
          background: $purple;
          &:after {
            left: calc(100% - 5px);
            transform: translateX(-100%);
          }
        }
      }
    }
  }
}