$black: #050505;
$darkgray: #1F1F1F;
$darkgray2nd: #2D2D2D;
$darkgray3rd: #3A3A3A;
$lightgray: #757575;
$lightergray: #E9E9E9;
$almostwhite: #F4F4F4;
$white: #FFFFFF;
$purple: #A445ED;
$orange: #FF5252;
$font1: 'Inconsolata', monospace;
$font2: 'Inter', sans-serif;
$font3: 'Lora', serif;
